.weather-container {
    min-height: calc(100vh - 10rem);
    background: linear-gradient(rgb(36, 77, 114) 0%, rgb(7, 33, 59) 100%);
    color: #fff;
    padding: 2rem 0;
    box-sizing: border-box;
    position: relative;

    .loader,
    .loader-text {
        width: 5rem;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .loader-text {
        width: 100%;
        max-width: 20rem;
        background-color: #ffffff1f;
        padding: 10px;
        padding-left: 35px;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        line-height: 25px;
    }

    .weather {
        width: 95%;
        max-width: 800px;
        margin: auto;
    }
}