$white-color: white;
$black-color: rgb(0, 0, 0);
$search-btn: #9c9c9c;
$base-color: #fe9730;

.header-container {
    color: $white-color;
    background-color: $black-color;
    padding: 1.5rem 0;
    box-sizing: border-box;

    .header {
        margin: auto;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;

        .logo {
            width: 8.5rem;
            cursor: pointer;
        }

        form {
            width: 20rem;
            height: 2rem;
            border: 2px solid $base-color;
            border-radius: 16px;
            display: flex;
            background: $white-color;
            position: relative;

            #location-search {
                width: 90%;
                height: 100%;
                padding: 0 8px;
                box-sizing: border-box;
                border: none;
                outline: none;
                border-radius: 16px;
            }

            .search-btn {
                height: 100%;
                border: none;
                outline: none;
                padding: 3px 8px;
                box-sizing: border-box;
                font-size: 1.2rem;
                color: $base-color;
                border-radius: 16px;
                cursor: pointer;
            }

            .hint {
                max-width: 12rem;
                position: absolute;
                right: 1rem;
                background-color: $white-color;
                color: $search-btn;
                z-index: 1;
                font-size: 12px;
                border: 1px solid #e8e8e8;
                border-radius: 8px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                padding: 8px 5px;
                box-sizing: border-box;
                opacity: 0;
                top: 1rem;
                visibility: hidden;
                transition: opacity .4s ease 0s, top .4s ease 0s;
            }

            &:hover {
                .hint {
                    opacity: 1;
                    top: 2.5rem;
                    visibility: visible;
                }
            }
        }
    }
}