$white-color: white;
$black-color: rgb(0, 0, 0);
$search-btn: #9c9c9c;
$base-color: #fe9730;

.footer-container {
    color: $white-color;
    background-color: $black-color;
    padding: 1.5rem 0;
    box-sizing: border-box;

    .footer {
        margin: auto;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        .copyright {
            text-align: right;
            font-size: 18px;
            color: $base-color;

            #creator {
                color: #f9a27b;

                &:hover {
                    color: $white-color;
                }
            }
        }

        .divider {
            width: 1px;
            height: 48px;
            border-radius: 5px;
            background-color: $white-color;
        }

        .social-media {
            display: flex;
            gap: 1.5rem;

            a {
                text-decoration: none;
                color: #f9a27b;
                font-size: 1.8rem;
                transition: 0.5s;

                &:hover {
                    color: $white-color;
                }
            }
        }
    }
}

@media screen and (max-width: 590px) {
    .footer-container {
        .footer {
            flex-direction: column;

            .divider {
                width: 12rem;
                height: 1px;
            }

            .copyright {
                text-align: center;
            }
        }
    }
}